[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "<2.0.0"
pep8 = "*"
flake8 = "*"
jupyter = "*"

[packages]
django = "==1.11.6"
django-rest-framework = "*"
markdown = "*"
django-filter = "*"
django-localflavor = "*"
requests = "*"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
